@use '../../../scss/abstracts/media' as media;

.header {
	margin-block: 1rem;
	padding: clamp(0.2rem, 2vw, 1.3rem) clamp(0.2rem, 2vw, 1.1rem);
	border-radius: 0.625rem;
	backdrop-filter: blur(23px);
	background: var(--white-transparent-1);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.logo {
	max-width: clamp(8rem, 10vw, 12.5rem);
}

.nav {
	@include media.tablet {
		display: none;
	}
	ul {
		display: flex;
		gap: clamp(0.5rem, 3vw, 2rem);
	}
}
.link {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(0.8rem, 2vw, 1.125rem);
	color: var(--primary-color);
	padding: 0.5em 0.75em;
}

.btn {
	@include media.tablet-big {
		display: none;
	}
}

.burger {
	display: none;
	@include media.tablet-big {
		display: block;
	}
}
