@use '../../../scss/abstracts/mixins';
@use '../../../scss/abstracts/media' as media;

.mobility {
	background: var(--primary-color);
	padding-block: 128px;
}

.mobilityTitle {
	display: grid;
	place-items: center;
	span {
		color: var(--background-color-1);
		background: var(--white-transparent-2);
		margin-bottom: 2rem;
	}
	h2 {
		color: var(--background-color-1);
		margin-bottom: 3.75rem;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;

	@include media.tablet {
		grid-template-columns: repeat(7, 1fr);
	}

	.cardOne {
		grid-column: 1/8;
		grid-row: 1/5;
		background: var(--white-transparent-2);

		padding: 2rem;
		.cardOneBox {
			display: flex;
			justify-content: space-between;
			align-items: start;
			margin-bottom: 1.625rem;
		}

		.cardOneImg {
			width: 2.5625rem;
		}

		.cardOneTitle {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: clamp(2rem, 5vw, 2.625rem);
			color: var(--background-color-1);
			margin-bottom: 1rem;
			max-width: 13.75rem;
		}

		.cardOneDescr {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 1.125rem;
			color: var(--secondary-color);
		}

		.cardOneBottom {
			display: flex;
			justify-content: space-between;

			div {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				img {
					width: 3.3125rem;
				}
			}
		}

		.cardOneBottomSpan {
			padding: 0.3rem 0.75rem;
			background: var(--white-transparent-2);
		}
	}
	.cardTwo {
		grid-column: 8 / 13;
		grid-row: 1 / 12;
		position: relative;

		@include media.tablet {
			grid-column: 1 / 8;
			grid-row: 12 / 35;
		}

		.cardTwoLogo {
			position: absolute;
			top: 4.5rem;
			left: 2rem;
			z-index: 10;
			display: flex;
			align-items: center;
			gap: 1rem;
			img {
				width: 2.5625rem;
			}
			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 1.5rem;
				color: var(--background-color-1);
			}
		}
		.cardTwoTitle {
			position: absolute;
			z-index: 10;
			left: 2rem;
			bottom: clamp(2.5rem, 5vw, 4.5rem);
			font-family: var(--font-family);
			font-weight: 600;
			font-size: clamp(2rem, 5vw, 5rem);
			text-transform: uppercase;
			color: var(--background-color-1);
		}
	}
	.cardThree {
		grid-column: 1/5;
		grid-row: 5/12;
		background: #ffffff;
		position: relative;

		padding: 1.5rem;

		.cardThreeLink {
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			padding: 0.375rem 0.625rem;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			color: var(--background-color-1);
			background: var(--primary-color);
		}

		.cardThreeText {
			position: absolute;
			bottom: 1.5rem;
			left: 1.5rem;
			display: grid;
			gap: 1rem;

			font-family: var(--font-family);
			font-weight: 600;
			font-size: clamp(3rem, 5vw, 5rem);
			line-height: 0.8;
			text-transform: uppercase;
			color: var(--primary-color);

			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 1.5rem;
				text-transform: none;
				color: var(--primary-color);
			}
		}
	}
	.cardFour {
		grid-column: 5/8;
		grid-row: 5/11;
		padding: 1rem;
		background: #ffffff;

		height: 175px;
	}
	.cardFive {
		grid-column: 5/8;
		grid-row: 11/11;
		background: var(--white-transparent-2);
		padding: 1.5rem;

		img {
			margin-bottom: 2.5rem;
		}
		p {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: clamp(0.8rem, 2.5vw, 1.125rem);
			color: var(--background-color-3);
		}
	}
}
