.title {
	display: grid;
	place-items: center;
	gap: 1rem;
	margin-bottom: 2.8rem;
}
.span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(0.8rem, 2vw, 1.125rem);
	text-align: center;
	color: var(--primary-color);
	padding: 0.7rem 1.25rem;
	background: var(--background-color-2);
}
