@use '../../../scss/abstracts/media' as media;
.form {
	display: grid;
	gap: clamp(1rem, 2vw, 1.25rem);
	div {
		display: grid;
		width: 100%;
	}
	.namebox {
		display: flex;
		justify-content: space-between;
		gap: clamp(1rem, 2vw, 1.15rem);
	}
	.btn {
		display: grid;
		justify-items: start;
		button {
			color: var(--secondary-color);
			background: var(--primary-color);
		}
	}
	label {
		padding-bottom: 1rem;
	}
	input,
	textarea {
		border: none;
		outline: none;
		background: var(--background-color-2);
		padding: 1rem;
	}
	input::placeholder {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: clamp(1rem, 2vw, 1.25rem);
		color: var(--subtext-color);
	}
	textarea {
		min-height: 7.375rem;
		resize: none;
	}
}
.namebox {
	display: flex;
	@include media.tablet-big {
		flex-direction: column;
	}
}
