@use '../../../scss/abstracts/mixins';
@use '../../../scss/abstracts/media' as media;

.wrapper {
	display: grid;
	place-items: center;
	gap: 1rem;
}

.items {
	@include mixins.grid(20rem, 1.1rem);
}

.product {
	display: grid;
	@include media.tablet {
		display: none;
	}
}

.myswiper {
	display: none;
	@include media.tablet {
		display: block;
	}
}
