@use './scss/abstracts/animations';
@use './scss/abstracts/functions';
@use './scss/abstracts/media';
@use './scss/abstracts/mixins';
@use './scss/abstracts/variables';

@use './scss/base/reset';
@use './scss/base/typography';
@use './scss/base/container';

@use 'normalize.css';
//@use '../node_modules/swiper/swiper.css';

body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 1.125rem;
	color: var(--subtext-color);
}

.h2 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(2rem, 5vw, 3.75rem);
	text-transform: capitalize;
	text-align: center;
	color: var(--primary-color);
}
