.comfortTitle {
	display: grid;
	place-items: center;
	gap: 1rem;
	margin-bottom: clamp(1rem, 5vw, 4.875rem);
}

.mySwiper {
	width: 100%;
	height: 400px; /* или любая другая высота */
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* чтобы изображение заполняло слайд */
}
