@use '../../../scss/abstracts/mixins' as mixin;
@use '../../../scss/abstracts/media' as media;

.comfortTitle {
	display: grid;
	place-items: center;
	gap: 1rem;
	margin-bottom: clamp(1rem, 5vw, 4.875rem);
}

.mySwiper {
	width: 100%;
	height: 25rem;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myswiper {
	margin-bottom: 8rem;
}

.formBox {
	@include mixin.grid(30rem, 1rem);
	gap: clamp(1rem, 4vw, 3rem);
	align-items: center;
	@include media.tablet {
		grid-template-columns: 1fr;
	}
}
